// POST {{.Path}}
func (c *LingioClient) {{.FuncName}}(ctx context.Context) (*{{.RetObjType}}, error) {
	var x {{.RetObjType}}
	b, err := common.HttpPost(ctx, fmt.Sprintf("%s{{.PathTemplate}}", c.Server))
    {{template "parseJson.tmpl" -}}
}

