// POST {{.Path}}
func (c *LingioClient) {{.FuncName}}(ctx context.Context, {{.Params}}, body {{.BodyType}}) (*{{.RetObjType}}, error) {
	var x {{.RetObjType}}
	b, err := common.HttpPost(ctx, fmt.Sprintf("%s{{.PathTemplate}}", c.Server, {{.Params2}}), body, "")
    {{template "parseJson.tmpl" -}}
}

