// POST {{.Path}}
func (c *LingioClient) {{.FuncName}}({{.Params}}) (*{{.RetObjType}}, *common.Error) {
	var x {{.RetObjType}}
	b, lerr := common.HttpPostNoBody(fmt.Sprintf("%s{{.PathTemplate}}", c.Server, {{.Params2}}))
    {{template "parseJson.tmpl" -}}
}

