// PUT {{.Path}}
func (c *LingioClient) {{.FuncName}}(ctx context.Context, {{.Params}}, body {{.BodyType}}) error {
	_, err := common.HttpPut(ctx, fmt.Sprintf("%s{{.PathTemplate}}", c.Server, {{.Params2}}), body, "")
    if err != nil {
        return err
    }
    return nil
}

