// PATCH {{.Path}}
func (c *LingioClient) {{.FuncName}}(ctx context.Context, {{.Params}}, body {{.BodyType}}, token string) error {
	_, err := common.HttpPatch(ctx, fmt.Sprintf("%s{{.PathTemplate}}", c.Server, {{.Params2}}), body, token)
	if err != nil {
	    return err
	}
	return nil
}

