// POST {{.Path}}
func (c *LingioClient) {{.FuncName}}(ctx context.Context, body {{.BodyType}}, token string) (*{{.RetObjType}}, error) {
	var x {{.RetObjType}}
	b, err := common.HttpPost(ctx, fmt.Sprintf("%s{{.PathTemplate}}", c.Server), body, token)
    {{template "parseJson.tmpl" -}}
}

