// POST {{.Path}}
func (c *LingioClient) {{.FuncName}}({{.Params}}, body {{.BodyType}}, token string) (*{{.RetObjType}}, *common.Error) {
	var x {{.RetObjType}}
	b, lerr := common.HttpPost(fmt.Sprintf("%s{{.PathTemplate}}", c.Server, {{.Params2}}), body, token)
    {{template "parseJson.tmpl" -}}
}

