// POST {{.Path}}
func (c *LingioClient) {{.FuncName}}(token string) (*{{.RetObjType}}, error) {
	var x {{.RetObjType}}
	b, err := common.HttpPost(fmt.Sprintf("%s{{.PathTemplate}}", c.Server), token)
    {{template "parseJson.tmpl" -}}
}

