// PUT {{.Path}}
func (c *LingioClient) {{.FuncName}}(ctx context.Context, token string) error {
	b, err := common.HttpPutNoBody(ctx, fmt.Sprintf("%s{{.PathTemplate}}", c.Server), token)
    {{template "parseJson.tmpl" -}}
}

