// PUT {{.Path}}
func (c *LingioClient) {{.FuncName}}(ctx context.Context, body {{.BodyType}}, token string) error {
	_, lerr := common.HttpPut(ctx, fmt.Sprintf("%s{{.PathTemplate}}", c.Server), body, token)
	if lerr != nil {
		return lerr
	}
	return nil
}

