// PUT {{.Path}}
func (c *LingioClient) {{.FuncName}}(ctx context.Context, {{.Params}}, token string) error {
	b, err := common.HttpPutNoBody(ctx, fmt.Sprintf("%s{{.PathTemplate}}", c.Server, {{.Params2}}), token)
    {{template "parseJson.tmpl" -}}
}

