// PUT {{.Path}}
func (c *LingioClient) {{.FuncName}}(ctx context.Context, body {{.BodyType}}, token string) error {
	b, err := common.HttpPut(ctx, fmt.Sprintf("%s{{.PathTemplate}}", c.Server), body, token)
    {{template "parseJson.tmpl" -}}
}

