// PUT {{.Path}}
func (c *LingioClient) {{.FuncName}}(token string) *common.Error {
	_, lerr := common.HttpPutNoBody(fmt.Sprintf("%s{{.PathTemplate}}", c.Server), token)
	if lerr != nil {
		return lerr
	}
	return nil
}

