openapi: "3.0.0"
info:
    version: "1.0"
    title: "{{.Service}} Bucket Browser API"
servers:
    - url: "http://localhost:4711"
paths:
    /ops/stores:
      get:
        summary: "List all stores."
        operationId: "ListStores"
        security:
          - bearerAuth: ["admin"]
        responses:
          200:
            $ref: "#/components/responses/StoreListing"
          default:
            $ref: '#/components/responses/Error'

    /ops/stores/{store}/methods:
      get:
        summary: "List all object request methods available for a specific store."
        operationId: "ListStoreMethods"
        security:
          - bearerAuth: ["admin"]
        parameters:
          - in: "path"
            name: "store"
            required: true
            schema:
              type: "string"
        responses:
          200:
            $ref: "#/components/responses/MethodListing"
          default:
            $ref: '#/components/responses/Error'

    /ops/stores/{store}/object-requests:
      post:
        summary: "Request one or more objects by a method name and value."
        operationId: "ObjectRequest"
        security:
          - bearerAuth: ["admin"]
        parameters:
          - in: "path"
            name: "store"
            required: true
            schema:
              type: "string"
        requestBody:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectRequest"
        responses:
          200:
            $ref: "#/components/responses/ObjectResponse"
          default:
            $ref: '#/components/responses/Error'

components:
    securitySchemes:
      bearerAuth:
        type: http
        scheme: bearer

    responses:
      StoreListing:
        description: "A list of all exposed stores."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreListing"

      MethodListing:
        description: "The list of object-request methods a store provides."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MethodListing"

      ObjectResponse:
        description: "The requested object or objects."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryResult'

      Error:
        description: "Error"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Error"

    schemas:
      Error:
        type: "object"
        properties:
          message:
            type: "string"
            example: "Object not found"

      ObjectRequest:
        type: "object"
        properties:
          method:
            type: string
            example: "Get"
          field:
            type: string
            example: "1234567890"
        required:
          - method
          - field

      StoreListing:
        type: "object"
        properties:
          stores:
            type: array
            items:
              type: string
        required:
            - stores

      MethodListing:
        type: "object"
        properties:
          methods:
            type: array
            items:
              type: string
        required:
            - methods

      QueryResult:
        oneOf:
          - type: object
            properties:
              object:
                oneOf:
                  {{ range .Objects -}}
                    - $ref: '#/components/schemas/{{.Name}}'
                  {{ end }}
          - type: object
            properties:
              objects:
                type: array
                items:
                  oneOf:
                    {{- range .Objects -}}
                    {{ if .HasArrayVariant }}
                    - $ref: '#/components/schemas/{{.Name}}'
                    {{- end -}}
                    {{- end }}

