openapi: "3.0.0"
info:
    version: "1.0"
    title: "{{.Service}} Bucket Browser API"
servers:
    - url: "http://localhost:4711"
paths:
    /ops/stores:
        get:
            summary: "List all stores."
            operationId: "ListStores"
            security:
              - bearerAuth: ["admin"]
            responses:
                200:
                    $ref: "#/components/responses/StoreListing"
                default:
                    $ref: '#/components/responses/Error'
    /ops/stores/{store}/objects:
        get:
            summary: "List object keys in a specific store."
            operationId: "ListObjects"
            parameters:
                - in: "path"
                  name: "store"
                  required: true
                  schema:
                    type: "string"
                - in: "query"
                  name: "q"
                  required: false
                  description: "Only include object keys containing this substring."
                  schema:
                    type: string
            responses:
                200:
                    $ref: "#/components/responses/ObjectListing"
                default:
                  $ref: '#/components/responses/Error'
    /ops/stores/{store}/objects/{objectId}:
        get:
            summary: "Get an object from a specific store by its key."
            operationId: "GetObject"
            parameters:
                - in: "path"
                  name: "store"
                  required: true
                  schema:
                    type: "string"
                - in: "path"
                  name: "objectId"
                  required: true
                  schema:
                    type: string
            responses:
                200:
                    $ref: "#/components/responses/Object"
                default:
                  $ref: '#/components/responses/Error'

components:
    responses:
        StoreListing:
            description: "The shortcut version of the data"
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/StoreListing"
        ObjectListing:
            description: "The content that the Shortcut is describing"
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/ObjectListing"
        Object:
            description: "The content that the Shortcut is describing"
            content:
                application/json:
                    schema:
                      $ref: '#/components/schemas/Object'

        Error:
            description: "Error"
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/Error"
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer

    schemas:
        Error:
          type: "object"
          properties:
            message:
              type: "string"
              example: "No topic with id=bus-t4211 found"

        StoreListing:
          type: "object"
          properties:
              stores:
                  type: array
                  items:
                      type: string
          required:
              - stores

        ObjectListing:
          type: "object"
          properties:
              objects:
                  type: array
                  items:
                      type: string
          required:
              - objects

        ObjectInfo:
          type: "object"
          properties:
            key:
              type: string
            expiration:
              type: string
              format: datetime
            etag:
              type: string
          required:
            - key
            - expiration
            - etag

        Object:
          allOf:
            - type: object
              properties:
                info:
                  $ref: '#/components/schemas/ObjectInfo'
            - type: object
              properties:
                object:
                  oneOf:
                    {{ range .Objects -}}
                      - $ref: '#/components/schemas/{{.Name}}'
                    {{ end }}
