package storage

import (
	"context"
	"encoding/json"
	"fmt"
	"net/http"
	"time"
	"sync"
	"errors"

	"github.com/lingio/{{.ServiceName}}/models"

	"github.com/lingio/go-common"
	"github.com/minio/minio-go/v7"
	"github.com/go-redis/redis/v8"
	uuid "github.com/satori/go.uuid"

	zl "github.com/rs/zerolog/log"
)

{{$modelName := .DbTypeName -}}
{{$ID := .IdName -}}
{{$storeName := printf "%sStore" .TypeName -}}
{{$cacheInterface := printf "%sCache" .TypeName -}}
{{$cacheName := printf "%sRedisCache" .TypeName -}}
{{$cacheKey := printf "%sCacheKey" .TypeName -}}
{{$filename := printf "%sFilename" .TypeName -}}

const {{$cacheKey}}ID = "{{.IdName | ToLower }}"
{{range .SecondaryIndexes -}}
const {{$cacheKey}}{{.Name}} = "{{.CacheKey}}"
{{end -}}
{{if .GetAll -}}
const {{$cacheKey}}All = "_all"
{{- end }}

var {{$storeName}}Config common.ObjectStoreConfig
func init() {
	err := json.Unmarshal([]byte(`
{{.Config | PrettyPrint}}
	`), &{{$storeName}}Config)
	if err != nil {
		panic(fmt.Errorf("error parsing store config: %w", err))
	}
}

type {{$storeName}} struct {
	backend common.LingioStore
	cache   {{$cacheInterface}}
	ready   common.AtomicBool
}

type {{.TypeName}}Cache interface {
	Initialized() (bool, error)
	AcquireInitLock(context.Context) error
	ReleaseInitLock(context.Context) error
	Init(context.Context, common.LingioStore) error

	// Primary key operations
	Put(models.{{.DbTypeName}}, time.Duration, string) error
	Get(string) (*models.{{.DbTypeName}}, string, error)
	Delete(string) error
	{{if .GetAll -}}
	GetAll() ([]models.{{$modelName}}, string, error)
	{{- end}}

	// Secondary index operations
	{{- range .SecondaryIndexes -}}
	{{$keyList :=  .Keys | IndexKeysOnly | CamelCase | Join ", " }}
	{{- if eq .Type "unique"}}
	GetBy{{.Name}}({{$keyList}} string) (*models.{{$modelName}}, string, error)
	{{- else if eq .Type "set"}}
	GetAllBy{{.Name}}({{$keyList}} string) ([]models.{{$modelName}}, string, error)
	{{- end -}}
	{{end}}
}

// {{.PrivateTypeName}}CacheObject is the internally stored cached object.
type {{.PrivateTypeName}}CacheObject struct {
	ETag string
	Entity models.{{.DbTypeName}}
}

// {{.TypeName}}CacheIngest is used during initialization to fill the cache with data from the backend.
type {{.TypeName}}CacheIngest struct {
	common.ObjectInfo
	Entity models.{{.DbTypeName}}
	Err error
}

// New{{$storeName}} configures a new store and initializes the provided cache if required.
func New{{$storeName}}(ctx context.Context, mc *minio.Client, cache {{.TypeName}}Cache, serviceKey string) (*{{$storeName}}, error) {
	// DefaultOjbectStoreConfig || deserialize
	objectStore, err := common.NewObjectStore(mc, "{{.BucketName}}", {{$storeName}}Config)
	if err != nil {
		return nil, fmt.Errorf("creating object store: %w", err)
	}

	encryptedStore, err := common.NewEncryptedStore(objectStore, serviceKey)
	if err != nil {
		return nil, fmt.Errorf("creating encrypted store: %w", err)
	}

	db := &{{$storeName}}{
		backend: encryptedStore,
		cache:   cache,
		ready:   0,
	}

	if err := db.cache.Init(ctx, db.backend); err != nil {
		return nil, fmt.Errorf("initializing cache: %w", err)
	}
	db.ready.SetTrue()
	return db, nil
}

// {{$filename}} returns the object store filename used for the object identified by the provided id
// {{$filename}}("id") --> "{{if .FilenameFormat}}{{printf .FilenameFormat "id"}}{{- else -}}id.json{{end}}"
func {{$filename}}(id string) string {
	{{ if .FilenameFormat -}}
	return fmt.Sprintf("{{.FilenameFormat}}", id)
	{{- else -}}
	return id + ".json"
	{{- end }}
}

// StoreName returns the store name of the backing lingio store.
func (s *{{$storeName}}) StoreName() string {
	return s.backend.StoreName()
}

//=============================================================================
// Type-safe methods.
//=============================================================================

// Create attempts to store the provided object in store.
func (s *{{$storeName}}) Create(ctx context.Context, obj models.{{.DbTypeName}}) (*models.{{.DbTypeName}}, error) {
	if obj.{{.IdName}} != "" {
		// check that the object doesn't exist
		o, _, err := s.Get(ctx, obj.{{.IdName}})
		if err != nil && !errors.Is(err, common.ErrObjectNotFound) {
			return nil, common.NewErrorE(http.StatusInternalServerError, err).
				Str("ID", obj.{{.IdName}}).Msg("failed query for object")
		}
		if o != nil { // object exists!
			return nil, common.NewError(http.StatusBadRequest).
				Str("ID", obj.{{.IdName}}).Msg("an object with this ID is already stored in the database")
		}
	} else {
		obj.{{.IdName}} = uuid.NewV4().String()
	}
	if err := s.put(ctx, obj); err != nil {
		return nil, err
	}
	return &obj, nil
}


// Get attempts to load an object with the specified ID from the store.
func (s *{{$storeName}}) Get(ctx context.Context, id string) (*models.{{.DbTypeName}}, string, error) {
	obj, etag, err := return s.cache.Get(id)
	if err == nil {
		return obj, etag, nil
	}

	if errors.Is(err, common.ErrObjectNotFound) {
		data, _, err := s.backend.GetObject({{$filename}}(id))
		if err != nil {
			return nil, "", common.Errorf(err)
		}

		var obj models.{{.DbTypeName}}
		if err := json.Unmarshal([]byte(data), &obj); err != nil {
			return nil, "", common.Errorf(err)
		}

		zl.Warn().Str("id", id).Msg("cache returned nil but backend found data")
		return &obj, "", nil
	}

	return nil, "", err
}

{{if .GetAll -}}
// GetAll loads all objects from this store.
func (s *{{$storeName}}) GetAll(ctx context.Context) ([]models.{{.DbTypeName}}, string, error) {
	return s.cache.GetAll()
}
{{- end }}

// Put updates or creates the object in both cache and backing store.
func (s *{{$storeName}}) Put(ctx context.Context, obj models.{{.DbTypeName}}) error {
	return s.put(ctx, obj)
}

// put does the heavy lifting for both Put and Create methods.
func (s *{{$storeName}}) put(ctx context.Context, obj models.{{.DbTypeName}}) error {
	data, err := json.Marshal(obj)
	if err != nil {
		return common.NewErrorE(http.StatusInternalServerError, err).
			Str("ID", obj.{{.IdName}}).Msg("failed to marshal json")
	}
	info, err := s.backend.PutObject(ctx, {{$filename}}(obj.{{.IdName}}), data)
	if err != nil {
		return common.Errorf(err).Str("ID", obj.{{.IdName}}).Msg("failed to write to minio")
	}

	var expiration time.Duration
	if !info.Expiration.IsZero() {
		expiration = info.Expiration.Sub(time.Now())
	}
	return s.cache.Put(obj, expiration, info.ETag)
}

// Delete
func (s *{{$storeName}}) Delete(ctx context.Context, id string) error {
	if err := s.backend.DeleteObject(ctx, {{$filename}}(id)); err != nil {
		return common.Errorf(err).Str("ID", id).Msg("failed to delete object in minio")
	}
	return s.cache.Delete(id)
}

//=============================================================================
// Extra functions from secondary indexes, passes to cache layer
//=============================================================================
{{range .SecondaryIndexes -}}
{{$keyList :=  .Keys | IndexKeysOnly | CamelCase | Join ", " }}
{{if eq .Type "unique"}}
// GetBy{{.Name}} fetches a single {{$modelName}} by its {{.Key}}
func (s *{{$storeName}}) GetBy{{.Name}}({{ $keyList }} string) (*models.{{$modelName}}, string, error) {
	return s.cache.GetBy{{.Name}}({{ $keyList }})
}
{{else if eq .Type "set"}}
// GetAllBy{{.Name}} fetches all {{$modelName}}s by their {{.Key}}
func (s *{{$storeName}}) GetAllBy{{.Name}}({{ $keyList }} string) ([]models.{{$modelName}}, string, error) {
	return s.cache.GetAllBy{{.Name}}({{ $keyList }})
}
{{end -}}
{{end}}
//=============================================================================
// Cache implementation
//=============================================================================

// {{$cacheName}} is a redis-backed implementation of {{$cacheInterface}}
type {{$cacheName}} struct {
	*common.RedisCache
}

// New{{$cacheName}} writes to leader and reads from follower.
func New{{$cacheName}}(client *redis.Client) *{{$cacheName}} {
	return &{{$cacheName}}{
		RedisCache: common.NewRedisCache(client, "{{.BucketName}}", "{{.Version}}"),
	}
}

// Initialized performs a greedy check if the cache is initialized.
func (c {{$cacheName}}) Initialized() (bool, error) {
	v, err := c.Client.Exists(context.TODO(), c.InitKey()).Result()
	if err != nil {
		return false, err
	}
	return v != 0, nil
}


// Init checks if the store is initialized before attempting to acquire
// a temporary lock on the cache. To avoid deadlocks, the lock is designed to
// automatically expire after a few seconds. Since we don't know how long time
// the bucket --> cache initialization takes, we need to periodically extend
// the lock while we fill the cache with data from the object store backend.
func (c *{{$cacheName}}) Init(ctx context.Context, backend common.LingioStore) (resulterr error) {
	var objectsLoaded int
	defer func() {
		if resulterr == nil {
			c.WarmedUp.SetTrue()
			zl.Info().Str("component", "{{$storeName}}").Int("objectsLoaded", objectsLoaded).Msg("cache initialized.")
		}
	}()

	for {
		// Perform early bail check since lock acquire can take some time.
		if ok, err := c.Initialized(); err != nil {
			return fmt.Errorf("checking cache: %w", err)
		} else if ok {
			zl.Info().Str("component", "{{$storeName}}").Msg("cache found, assuming up-to-date.")
			return nil
		}

		// All concurrent processes will exit before or when this context completes.
		ctx, cancel := context.WithCancel(context.Background())

		// Try to acquire the init lock. It will be valid for a few seconds and we might need to extend it.
		// If something stops the world (GC pause / ??) we might lose the lock (and not know about it).
		// ^ This case is not currently handled.
		if err := c.AcquireInitLock(ctx); err != nil {
			cancel()
			zl.Warn().Str("component", "{{$storeName}}").Msg("could not acquire lock to initialize cache. retrying in 5s...")
			time.Sleep(5*time.Second)
			continue
		}
		defer cancel()

		defer func(ctx context.Context) {
			// Not incredibly important, since the lock will automatically expire anyway.
			if err := c.ReleaseInitLock(ctx); err != nil {
				zl.Warn().Str("component", "{{$storeName}}").Err(err).Msg("could not release cache lock")
			}
		}(ctx)

		// Now that we have the lock, ensure that our view of the cache init status is up-to-date.
		if ok, err := c.Initialized(); err != nil {
			return fmt.Errorf("checking cache: %w", err)
		} else if ok {
			zl.Info().Str("component", "{{$storeName}}").Msg("cache found, assuming up-to-date.")
			return nil
		}

		zl.Info().Str("component", "{{$storeName}}").Msg("cache not initialized, lock acquired, now fetching all data...")

		const NUM_WORKERS = 15

		listing := backend.ListObjects(ctx)
		// workerout is closed by worker pool process
		workerout := make(chan {{.TypeName}}CacheIngest, NUM_WORKERS*2)
		// initobj is closed by main control loop
		cacheinit := make(chan {{.TypeName}}CacheIngest, NUM_WORKERS*2)

		// Launch worker process.
		var wg sync.WaitGroup
		wg.Add(NUM_WORKERS)
		go func() {
			defer close(workerout)

			worker := func() {
				defer wg.Done()
				for {
					select {
					case <-ctx.Done():
						return
					case req, more := <-listing:
						if !more {
							return
						}

						data, info, err := backend.GetObject(ctx, req.Key)
						if err != nil {
							workerout <- {{.TypeName}}CacheIngest{
								ObjectInfo: common.ObjectInfo{},
								Entity:     models.{{.DbTypeName}}{},
								Err: 		fmt.Errorf("backend: %w", err),
							}
							return
						}

						var entity models.{{.DbTypeName}}
						if err := json.Unmarshal(data, &entity); err != nil {
							workerout <- {{.TypeName}}CacheIngest{
								ObjectInfo: common.ObjectInfo{},
								Entity:     models.{{.DbTypeName}}{},
								Err: 		fmt.Errorf("unmarshalling: %w", err),
							}
							return
						}

						if info.Key != {{$filename}}(entity.{{.IdName}}) {
							zl.Warn().Str("key", info.Key).Msg("skipping object with mismatched filename")
							continue
						}

						workerout <- {{.TypeName}}CacheIngest{
							ObjectInfo: info,
							Entity:     entity,
							Err: 		nil,
						}
					}
				}
			}

			for i := 0; i < NUM_WORKERS; i++ {
				go worker()
			}
			wg.Wait()
		}()

		// Main control loop: will periodically refresh the cache lock, check
		// for errors in bucket listing and put objects into the cache.
		ticker := time.NewTicker(3*time.Second)
		objectsLoaded = 0
		main_control_loop:
		for {
			select {
			case <-ticker.C:
				if err := c.AcquireInitLock(ctx); err != nil {
					resulterr = err
					break main_control_loop
				}
			case obj, more := <-workerout:
				if !more {
					break main_control_loop
				}
				if obj.Err != nil {
					resulterr = obj.Err
					break main_control_loop
				}
				var expiration time.Duration
				if !obj.Expiration.IsZero() {
					expiration = obj.Expiration.Sub(time.Now())
				}
				if err := c.Put(obj.Entity, expiration, obj.ETag); err != nil {
					resulterr = err
					break main_control_loop
				}
				objectsLoaded++
				if objectsLoaded % 10_000 == 0 {
					zl.Info().Str("component", "{{$storeName}}").
						Int("objectsLoaded", objectsLoaded).
						Msg("initializing cache")

				}
			}
		}
		ticker.Stop()
		close(cacheinit)

		// Only mark cache as initialized if we didn't encounter any error.
		if resulterr == nil {
			if err := c.Client.Set(ctx, c.InitKey(), []byte("1"), 0).Err(); err != nil {
				zl.Warn().Str("component", "{{$storeName}}").Msg("could not mark cache as initialized")
				resulterr = err
			}
		}

		// returning will cancel the ctx, which will also cancel listing and workers
		return resulterr
	}

	//unreachable!
}

func (c {{$cacheName}}) Put(obj models.{{.DbTypeName}}, expiration time.Duration, etag string) error {

	co := {{.PrivateTypeName}}CacheObject{
		ETag:   etag,
		Entity: obj,
	}

	// Fetch the previous version of this object (if there is any)
	orig, _, err := c.Get(obj.{{.IdName}})
	if !errors.Is(err, common.ErrObjectNotFound) {
		return err
	}

	// Primary index: {{.IdName}}
	if err = c.put(c.Key({{$cacheKey}}ID, obj.{{.IdName}}), co, expiration); err != nil {
		return err
	}

	{{ if .GetAll -}}
	// Primary index for all objects set: people.v1.all=all
	// ETag index for all objects set: people.v1.etag.all=all
	c.Client.SAdd(context.TODO(), c.Key({{$cacheKey}}All, {{$cacheKey}}All), obj.{{$ID}})
	err = c.Client.Incr(context.TODO(), c.ETagKey({{$cacheKey}}All, {{$cacheKey}}All)).Err()
	if err != nil {
		return common.NewErrorE(http.StatusInternalServerError, err)
	}
	{{- end }}

	{{if .SecondaryIndexes -}}
	var idx string
	{{- end}}

	{{- /* Update unique secondary indexes */ -}}
	{{range .SecondaryIndexes -}}
	{{if eq .Type "unique"}}
	{{if .Optional -}}
	// Optional unique index: {{.Name}}
	if {{ .Keys | CheckOptional "obj" | Join " && " }} {
		idx = CompoundIndex({{ .Keys | Materialize "obj" | Join ", " }})
		if err = c.put(c.Key({{$cacheKey}}{{.Name}}, idx), co, expiration); err != nil {
			return err
		}
	}
	{{else -}}
	// Unique index: {{.Name}}
	idx = CompoundIndex({{ .Keys | Materialize "obj" | Join ", " }})
	if err = c.put(c.Key({{$cacheKey}}{{.Name}}, idx), co, expiration); err != nil {
		return err
	}
	{{end -}}
	{{end -}}
	{{end}}

	{{- /* Update aggregated secondary indexes */ -}}
	{{range .SecondaryIndexes -}}
	{{if eq .Type "set"}}
	{{ if .Optional -}}
	// Optional set index: {{.Name}}
	if {{ .Keys | CheckOptional "obj" | Join " && " }} {
		idx = CompoundIndex({{ .Keys | Materialize "obj" | Join ", " }})
		c.Client.SAdd(context.TODO(), c.Key({{$cacheKey}}{{.Name}}, idx), obj.{{$ID}})
		err := c.Client.Incr(context.TODO(), c.ETagKey({{$cacheKey}}{{.Name}}, idx)).Err()
		if err != nil {
			return common.NewErrorE(http.StatusInternalServerError, err)
		}
	}
	{{else -}}
	// Set index: {{.Name}}
	idx = CompoundIndex({{ .Keys | Materialize "obj" | Join ", " }})
	c.Client.SAdd(context.TODO(), c.Key({{$cacheKey}}{{.Name}}, idx), obj.{{$ID}})
	err = c.Client.Incr(context.TODO(), c.ETagKey({{$cacheKey}}{{.Name}}, idx)).Err()
	if err != nil {
		return common.NewErrorE(http.StatusInternalServerError, err)
	}
	{{end -}}
	{{end -}}
	{{end}}


	{{- /* Remove old indexes if keys changed. */}}
	// Delete old secondary indexes if they changed
	if orig != nil {
		{{range .SecondaryIndexes -}}
		{{if eq .Type "unique" -}}
		// {{ .Name }} depends on ({{ .Keys | Materialize "" | Join ", " }})
		{{if .Optional -}}
		{
			oldExists := {{ .Keys | CheckOptional "orig" | Join " && " }}
			newNil := !({{ .Keys | CheckOptional "obj" | Join " && " }})
			if (oldExists && newNil) || (oldExists && !newNil && ({{ .Keys | CompareFields "obj" "orig" " != " | Join " || "}})) {
				idx := CompoundIndex({{ .Keys | Materialize "orig" | Join ", " }})
				err := c.Client.Del(context.TODO(), c.Key({{$cacheKey}}{{.Name}}, idx)).Err()
				if err != nil {
					return common.NewErrorE(http.StatusInternalServerError, err)
				}
			}
		}
		{{- else -}}
		if {{ .Keys | CompareFields "obj" "orig" " != " | Join " || " }} {
			idx = CompoundIndex({{ .Keys | Materialize "orig" | Join ", " }})
			err := c.Client.Del(context.TODO(), c.Key({{$cacheKey}}{{.Name}}, idx)).Err()
			if err != nil {
				return common.NewErrorE(http.StatusInternalServerError, err)
			}
		}
		{{end -}}
		{{end -}}
		{{end}}
		{{- /* */ -}}
		{{range .SecondaryIndexes -}}
		{{if eq .Type "set"}}
		// {{ .Name }} depends on ({{ .Keys | Materialize "" | Join ", " }})
		{{ if .Optional -}}
		{
			oldExists := {{ .Keys | CheckOptional "orig" | Join " && " }}
			newNil := !({{ .Keys | CheckOptional "obj" | Join " && " }})
			if (oldExists && newNil) || (oldExists && !newNil && ({{ .Keys | CompareFields "obj" "orig" " != " | Join " || "}})) {
				idx = CompoundIndex({{ .Keys | Materialize "orig" | Join ", " }})
				c.Client.SRem(context.TODO(), c.Key({{$cacheKey}}{{.Name}}, idx), orig.{{$ID}})
				err := c.Client.Incr(context.TODO(), c.ETagKey({{$cacheKey}}{{.Name}}, idx)).Err()
				if err != nil {
					return common.NewErrorE(http.StatusInternalServerError, err)
				}
			}
		}
		{{- else -}}
		if {{ .Keys | CompareFields "obj" "orig" " != " | Join " || " }} {
			idx = CompoundIndex({{ .Keys | Materialize "orig" | Join ", " }})
			c.Client.SRem(context.TODO(), c.Key({{$cacheKey}}{{.Name}}, idx), orig.{{$ID}})
			err := c.Client.Incr(context.TODO(), c.ETagKey({{$cacheKey}}{{.Name}}, idx)).Err()
			if err != nil {
				return common.NewErrorE(http.StatusInternalServerError, err)
			}
		}
		{{end -}}
		{{end -}}
		{{end}}
	}
	return nil
}

func (c {{$cacheName}}) put(fullKey string, co {{.PrivateTypeName}}CacheObject, expiration time.Duration) error {
	data, err := json.Marshal(co)
	if err != nil {
		return common.NewErrorE(http.StatusInternalServerError, err)
	}
	cmd := c.Client.Set(context.TODO(), fullKey, data, expiration)
	if _, err := cmd.Result(); err != nil {
		return common.NewErrorE(http.StatusInternalServerError, err)
	}
	return nil
}

func (c {{$cacheName}}) get(keyName string, key string) (*models.{{.DbTypeName}}, string, error) {
	cmd := c.Client.Get(context.TODO(), c.Key(keyName, key))
	data, err := cmd.Result()
	if errors.Is(err, redis.Nil) {
		return nil, "", common.NewErrorE(http.StatusNotFound, err)
	} else if err != nil {
		return nil, "", common.NewErrorE(http.StatusInternalServerError, err)
	}
	var co {{.PrivateTypeName}}CacheObject
	if err := json.Unmarshal([]byte(data), &co); err != nil {
		return nil, "", common.NewErrorE(http.StatusInternalServerError, err)
	}
	return &co.Entity, co.ETag, nil
}

// Get a cached {{$modelName}} by it's {{.IdName}}
func (c {{$cacheName}}) Get({{.IdName | ToLower}} string) (*models.{{.DbTypeName}}, string, error) {
	return c.get({{$cacheKey}}ID, {{.IdName | ToLower}})
}
{{range .SecondaryIndexes -}}
{{$keyList :=  .Keys | IndexKeysOnly | CamelCase | Join ", " }}
{{if eq .Type "unique"}}
// GetBy{{.Name}} fetches a cached {{$modelName}} by its {{.Key}}
func (c *{{$cacheName}}) GetBy{{.Name}}({{ $keyList }} string) (*models.{{$modelName}}, string, error) {
	return c.get({{$cacheKey}}{{.Name}}, CompoundIndex({{$keyList}}))
}
{{else if eq .Type "set"}}
// GetAllBy{{.Name}} fetches all cached {{$modelName}}s by their {{.Key}}
func (c *{{$cacheName}}) GetAllBy{{.Name}}({{$keyList}} string) ([]models.{{$modelName}}, string, error) {
	idx := CompoundIndex({{$keyList}})
	keys, err := c.Client.SMembers(context.TODO(), c.Key({{$cacheKey}}{{.Name}}, idx)).Result()
	if err != nil {
		return nil, "", common.NewErrorE(http.StatusInternalServerError, err)
	}

	objs := make([]models.{{$modelName}}, 0, 5)
	for _, key := range keys {
		obj, _, err := c.Get(key)
		if err != nil {
			return nil, "", err
		}
		objs = append(objs, *obj)
	}

	etag, err := c.Client.Get(context.TODO(), c.ETagKey({{$cacheKey}}{{.Name}}, idx)).Result()
	if err == redis.Nil && len(keys) == 0 {
		return objs, "", nil
	} else if err != nil {
		return nil, "", common.NewErrorE(http.StatusInternalServerError, err)
	}
	return objs, etag, nil
}
{{end -}}
{{end}}

{{ if .GetAll -}}
// GetAll fetches all cached {{$modelName}}s
func (c *{{$cacheName}}) GetAll() ([]models.{{$modelName}}, string, error) {
	keys, err := c.Client.SMembers(context.TODO(), c.Key({{$cacheKey}}All, {{$cacheKey}}All)).Result()
	if err != nil {
		return nil, "", common.NewErrorE(http.StatusInternalServerError, err)
	}

	objs := make([]models.{{$modelName}}, 0, 5)
	for _, key := range keys {
		obj, _, err := c.Get(key)
		if err != nil {
			return nil, "", err
		}
		objs = append(objs, *obj)
	}

	etag, err := c.Client.Get(context.TODO(), c.ETagKey({{$cacheKey}}All, {{$cacheKey}}All)).Result()
	if err == redis.Nil && len(keys) == 0 {
		return objs, "", nil
	} else if err != nil {
		return nil, "", common.NewErrorE(http.StatusInternalServerError, err)
	}
	return objs, etag, nil
}
{{- end}}


func (c *{{$cacheName}}) Delete({{$ID | ToLower}} string) error {
	{{if .SecondaryIndexes -}}
	var idx string
	o, _, err := c.Get({{$ID | ToLower}})
	{{else -}}
	_, _, err := c.Get({{$ID | ToLower}})
	{{end -}}
	if err != nil {
		return err
	}

	// Delete ID-cache
	keys := []string{c.Key({{$cacheKey}}ID, {{$ID | ToLower}})}

	{{range .SecondaryIndexes -}}
	{{if eq .Type "unique"}}
	// Delete from unique secondary index: {{.Name}}
	{{if .Optional}}
	if {{ .Keys | CheckOptional "o" | Join " && " }} {
		idx = CompoundIndex({{ .Keys | Materialize "o" | Join ", " }})
		keys = append(keys, c.Key({{$cacheKey}}{{.Name}}, idx))
	}
	{{else}}
	idx = CompoundIndex({{ .Keys | Materialize "o" | Join ", " }})
	keys = append(keys, c.Key({{$cacheKey}}{{.Name}}, idx))
	{{end -}}
	{{end -}}
	{{end}}

	// Delete all keys at the same time
	err = c.Client.Del(context.TODO(), keys...).Err()
	if err != nil {
		return common.NewErrorE(http.StatusInternalServerError, err)
	}

	{{if .GetAll -}}
	// Remove from all set
	c.Client.SRem(context.TODO(), c.Key({{$cacheKey}}All, {{$cacheKey}}All), {{$ID | ToLower}})
	err = c.Client.Incr(context.TODO(), c.ETagKey({{$cacheKey}}All, {{$cacheKey}}All)).Err()
	if err != nil {
		return common.NewErrorE(http.StatusInternalServerError, err)
	}
	{{ end }}

	{{range .SecondaryIndexes -}}
	{{if eq .Type "set"}}
	// Remove from 'set' secondary index: {{.Name}}
	{{ if .Optional -}}
	if {{ .Keys | CheckOptional "o" | Join " && " }} {
		idx = CompoundIndex({{ .Keys | Materialize "o" | Join ", " }})
		c.Client.SRem(context.TODO(), c.Key({{$cacheKey}}{{.Name}}, idx), o.{{$ID}})
		err := c.Client.Incr(context.TODO(), c.ETagKey({{$cacheKey}}{{.Name}}, idx)).Err()
		if err != nil {
			return common.NewErrorE(http.StatusInternalServerError, err)
		}
	}
	{{- else -}}
	idx = CompoundIndex({{ .Keys | Materialize "o" | Join ", " }})
	c.Client.SRem(context.TODO(), c.Key({{$cacheKey}}{{.Name}}, idx), o.{{$ID}})
	err = c.Client.Incr(context.TODO(), c.ETagKey({{$cacheKey}}{{.Name}}, idx)).Err()
	if err != nil {
		return common.NewErrorE(http.StatusInternalServerError, err)
	}
	{{end -}}
	{{end -}}
	{{end}}

	return nil
}
