package storage

import (
    "github.com/lingio/go-common"
    "github.com/minio/minio-go/v7"
)

func minioErrToCommonErr(err error) *common.Error {
	minioErr := err.(minio.ErrorResponse)
	return common.NewErrorE(minioErr.StatusCode, err).
		Str("minio.Message", minioErr.Message).
		Str("minio.Code", minioErr.Code).
		Str("minio.BucketName", minioErr.BucketName).
		Str("minio.Key", minioErr.Key)
}