package storage

import (
	"errors"
	"context"
	"encoding/json"
	"fmt"
	"net/http"

	"github.com/lingio/{{.ServiceName}}/models"

	"github.com/lingio/go-common"
	"github.com/minio/minio-go/v7"
	uuid "github.com/satori/go.uuid"
)

{{$modelName := .DbTypeName -}}
{{$ID := .IdName -}}
{{$storeName := printf "%sStore" .TypeName -}}
{{$filename := printf "%sFilename" .TypeName -}}

var {{$storeName}}Config common.ObjectStoreConfig
func init() {
	err := json.Unmarshal([]byte(`
{{.Config | PrettyPrint}}
	`), &{{$storeName}}Config)
	if err != nil {
		panic(fmt.Errorf("error parsing store config: %w", err))
	}
}

type {{$storeName}} struct {
	backend common.LingioStore
}

// New{{$storeName}} configures a new store.
func New{{$storeName}}(mc *minio.Client, serviceKey string, opts ...Option) (*{{$storeName}}, error) {
	cfg := ObjectStoreConfig{
		Bucket: "{{.BucketName}}",
	}
	for _, opt := range opts {
		opt.Apply(&cfg)
	}
	// DefaultOjbectStoreConfig || deserialize
	objectStore, err := common.NewObjectStore(mc, cfg.Bucket, {{$storeName}}Config)
	if err != nil {
		return nil, fmt.Errorf("creating object store: %w", err)
	}

	encryptedStore, err := common.NewEncryptedStore(objectStore, serviceKey)
	if err != nil {
		return nil, fmt.Errorf("creating encrypted store: %w", err)
	}

	db := &{{$storeName}}{
		backend: encryptedStore,
	}

	return db, nil
}

// NewInsecure{{$storeName}} configures a new store.
func NewInsecure{{$storeName}}(mc *minio.Client, serviceKey string, opts ...Option) (*{{$storeName}}, error) {
	cfg := ObjectStoreConfig{
		Bucket: "{{.BucketName}}",
	}
	for _, opt := range opts {
		opt.Apply(&cfg)
	}
	// DefaultOjbectStoreConfig || deserialize
	objectStore, err := common.NewObjectStore(mc, cfg.Bucket, {{$storeName}}Config)
	if err != nil {
		return nil, fmt.Errorf("creating object store: %w", err)
	}

	encryptedStore, err := common.NewInsecureEncryptedStore(objectStore, serviceKey)
	if err != nil {
		return nil, fmt.Errorf("creating insecure encrypted store: %w", err)
	}

	db := &{{$storeName}}{
		backend: encryptedStore,
	}

	return db, nil
}


// {{$filename}} returns the object store filename used for the object identified by the provided id
// {{$filename}}("id") --> "{{if .FilenameFormat}}{{printf .FilenameFormat "id"}}{{- else -}}id.json{{end}}"
func {{$filename}}(id string) string {
	{{ if .FilenameFormat -}}
	return fmt.Sprintf("{{.FilenameFormat}}", id)
	{{- else -}}
	return id + ".json"
	{{- end }}
}

// StoreName returns the store name of the backing lingio store.
func (s *{{$storeName}}) StoreName() string {
	return s.backend.StoreName()
}

//=============================================================================
// Store implementation
//=============================================================================

// Create attempts to store the provided object in store.
func (s *{{$storeName}}) Create(ctx context.Context, obj models.{{.DbTypeName}}) (*models.{{.DbTypeName}}, error) {
	if obj.{{.IdName}} != "" {
		// check that the object doesn't exist
		o, _, err := s.Get(ctx, obj.{{.IdName}})
		if err != nil && !errors.Is(err, common.ErrObjectNotFound) {
			return nil, common.NewErrorE(http.StatusInternalServerError, err).
				Str("ID", obj.{{.IdName}}).Msg("failed query for object")
		}
		if o != nil { // object exists!
			return nil, common.NewError(http.StatusBadRequest).
				Str("ID", obj.{{.IdName}}).Msg("an object with this ID is already stored in the database")
		}
	} else {
		obj.{{.IdName}} = uuid.NewV4().String()
	}
	if err := s.put(ctx, obj); err != nil {
		return nil, common.Errorf(err).Msg("could not store new object")
	}
	return &obj, nil
}


// Get attempts to load an object with the specified ID from the store.
func (s *{{$storeName}}) Get(ctx context.Context, id string) (*models.{{.DbTypeName}}, string, error) {
	data, info, err := s.backend.GetObject(ctx, {{$filename}}(id))
	if err != nil {
		return nil, "", err
	}
	obj := &models.{{.DbTypeName}}{}
	if err := json.Unmarshal(data, &obj); err != nil {
		return nil, "", common.NewErrorE(http.StatusInternalServerError, err).
			Str("ID", id).Msg("failed to unmarshal json")
	}
	return obj, info.ETag, nil
}

// Put updates or creates the object in both cache and backing store.
func (s *{{$storeName}}) Put(ctx context.Context, obj models.{{.DbTypeName}}) error {
	return s.put(ctx, obj)
}

// put does the heavy lifting for both Put and Create methods.
func (s *{{$storeName}}) put(ctx context.Context, obj models.{{.DbTypeName}}) error {
	data, err := json.Marshal(obj)
	if err != nil {
		return common.NewErrorE(http.StatusInternalServerError, err).
			Str("ID", obj.{{.IdName}}).Msg("Could not deserialize object data.")
	}
	_, err = s.backend.PutObject(ctx, {{$filename}}(obj.{{.IdName}}), data)
	if err != nil {
		return common.Errorf(err).Str("ID", obj.{{.IdName}}).Msg("Could not update object")
	}
	return nil
}

// Delete
func (s *{{$storeName}}) Delete(ctx context.Context, id string) error {
	if err := s.backend.DeleteObject(ctx, {{$filename}}(id)); err != nil {
		return common.Errorf(err).Str("ID", id).Msg("Could not delete object")
	}
	return nil
}

//=============================================================================
// Extra functions from secondary indexes, passes to cache layer
//=============================================================================
{{range .SecondaryIndexes -}}
{{if eq .Type "unique"}}
// GetBy{{.Name}} fetches a single {{$modelName}} by its {{.Key}}
func (s *{{$storeName}}) GetBy{{.Name}}(key string) (*models.{{$modelName}}, string, error) {
	panic("not yet implemented")
}
{{else if eq .Type "set"}}
// GetAllBy{{.Name}} fetches all {{$modelName}}s by their {{.Key}}
func (s *{{$storeName}}) GetAllBy{{.Name}}(key string) ([]models.{{$modelName}}, string, error) {
	panic("not yet implemented")
}
{{end -}}
{{end}}
