package storage

import (
	"context"
	"encoding/json"
	"fmt"
	"net/http"

	"github.com/lingio/{{.ServiceName}}/models"

	"github.com/lingio/go-common"
	"github.com/minio/minio-go/v7"
)

{{$modelName := .DbTypeName -}}
{{$storeName := printf "%sStore" .TypeName -}}
{{$filename := printf "%sFilename" .TypeName -}}

var {{$storeName}}Config common.ObjectStoreConfig
func init() {
	err := json.Unmarshal([]byte(`
{{.Config | PrettyPrint}}
	`), &{{$storeName}}Config)
	if err != nil {
		panic(fmt.Errorf("error parsing store config: %w", err))
	}
}

type {{$storeName}} struct {
	backend common.LingioStore
}

// New{{$storeName}} configures a new store and initializes the provided cache if required.
func New{{$storeName}}(mc *minio.Client, serviceKey string, opts ...Option) (*{{$storeName}}, error) {
	cfg := ObjectStoreConfig{
		Bucket: "{{.BucketName}}",
	}
	for _, opt := range opts {
		opt.Apply(&cfg)
	}
	// DefaultOjbectStoreConfig || deserialize
	objectStore, err := common.NewObjectStore(mc, cfg.Bucket, {{$storeName}}Config)
	if err != nil {
		return nil, fmt.Errorf("creating object store: %w", err)
	}

	encryptedStore, err := common.NewEncryptedStore(objectStore, serviceKey)
	if err != nil {
		return nil, fmt.Errorf("creating encrypted store: %w", err)
	}

	db := &{{$storeName}}{
		backend: encryptedStore,
	}

	return db, nil
}

// {{$filename}} returns the filename used for the only object in this store.
// {{$filename}}() --> "{{.FilenameFormat}}"
func {{$filename}}(id string) string {
	{{ if .FilenameFormat -}}
	return "{{.FilenameFormat}}"
	{{- else -}}
	panic("no filename configured")
	{{- end }}
}

// StoreName returns the store name of the backing lingio store.
func (s *{{$storeName}}) StoreName() string {
	return s.backend.StoreName()
}

//=============================================================================
// Store implementation
//=============================================================================

// Create attempts to store the provided object in store.
func (s *{{$storeName}}) Create(ctx context.Context, obj models.{{.DbTypeName}}) (*models.{{.DbTypeName}}, error) {
	// check that the object doesn't exist
	o, _, err := s.Get()
	if err != nil && err.HttpStatusCode != http.StatusNotFound {
		return nil, common.NewErrorE(http.StatusInternalServerError, err).
			Msg("failed query for object")
	}
	if o != nil { // object exists!
		return nil, common.NewError(http.StatusBadRequest).
			Msg("an object is already stored in the database")
	}
	if err := s.put(ctx, obj); err != nil {
		return nil, err
	}
	return &obj, nil
}


// Get attempts to load the singleton from the store.
func (s *{{$storeName}}) Get(ctx context.Context) (*models.{{.DbTypeName}}, string, error) {
	data, info, lerr := s.backend.GetObject(ctx, {{$filename}}.filename())
	if lerr != nil {
		return nil, "", lerr.Msg("failed to get from minio")
	}
	obj := &models.{{.DbTypeName}}{}
	if err := json.Unmarshal(data, &obj); err != nil {
		return nil, "", common.NewErrorE(http.StatusInternalServerError, err).
			Msg("failed to unmarshal json")
	}
	return obj, info.ETag, nil
}

// Put updates or creates the object in both cache and backing store.
func (s *{{$storeName}}) Put(ctx context.Context, obj models.{{.DbTypeName}}) error {
	return s.put(ctx, obj)
}

// put does the heavy lifting for both Put and Create methods.
func (s *{{$storeName}}) put(ctx context.Context, obj models.{{.DbTypeName}}) error {
	data, err := json.Marshal(obj)
	if err != nil {
		return common.NewErrorE(http.StatusInternalServerError, err).
			Msg("failed to marshal json")
	}
	if _, lerr := s.backend.PutObject(ctx, {{$filename}}.filename(), data); lerr != nil {
		return lerr.Msg("failed to write to minio")
	}
	return nil
}

// Delete
func (s *{{$storeName}}) Delete(ctx context.Context) error {
	if err := s.backend.DeleteObject(ctx, {{$filename}}.filename()); err != nil {
		return err.Msg("failed to delete object in minio")
	}
	return nil
}

//=============================================================================
// Extra functions from secondary indexes, passes to cache layer
//=============================================================================
{{range .SecondaryIndexes -}}
{{if eq .Type "unique"}}
// GetBy{{.Name}} fetches a single {{$modelName}} by its {{.Key}}
func (s *{{$storeName}}) GetBy{{.Name}}(ctx context.Context, key string) (*models.{{$modelName}}, string, error) {
	panic("not yet implemented")
}
{{else if eq .Type "set"}}
// GetAllBy{{.Name}} fetches all {{$modelName}}s by their {{.Key}}
func (s *{{$storeName}}) GetAllBy{{.Name}}(ctx context.Context, key string) ([]models.{{$modelName}}, string, error) {
	panic("not yet implemented")
}
{{end -}}
{{end}}
